<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <script src="./static/src/funcs.js"></script>
        <title>Document</title>
    </head>
    <body>
        <div id="maingrid">
            <div id="c1">
                <img src="./static/imgs/mainlogo.png" id="logoimg" />
                <div id="transcriptwhole">
                    <h1 id="transcriptlabel">Game Transcript:</h1>
                    <div id="transcript">
                        <ul>
                            {% for i in range(100) %}
                            <li>hi</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div id="c2">
                <div class="aigridflex">
                    <div class="aistack">
                        <div class="cardstack-container">
                            <img
                                id="aicardstackimg"
                                src="./static/imgs/back.jpg"
                                alt="Deck"
                            />

                            <div class="circle" id="aicardcount">
                                {{aicardcount}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deckgridflex">
                    <div class="deckstack">
                        <h1 class="decklabel">Deck</h1>
                        <div class="cardstack-container">
                            <img
                                id="deckimg"
                                src="./static/imgs/back.jpg"
                                onclick="imageClicked(100)"
                                alt="Deck"
                            />

                            <div class="circle" id="deckcount">{{decklen}}</div>
                        </div>
                    </div>
                    <div class="discardstack">
                        <!-- <div class="cardstack-container">
                            <img
                                id="discardimg"
                                src="./static/imgs/back.jpg"
                                alt="Discard"
                            />
                        </div> -->
                    </div>
                </div>
                <div class="cardgridflex">
                    <div class="cardgrid">
                        {% for i, cardcount in enumerate(legalmoves) %}
                        <div class="cardstack">
                            <div class="cardstack-container">
                                <img
                                    id="card{{ i }}img"
                                    src="./static/imgs/{{ i }}.jpg"
                                    onclick="imageClicked({{ i }})"
                                    alt="Defuse"
                                />

                                <div class="circle" id="card{{ i }}count">
                                    {{ cardcount }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="c3">
                <h1 class="c3item" id="turnis">Player: Human</h1>
                <h1 class="c3item" id="deadindicator"></h1>
                <h1 class="c3item" id="toDraw"></h1>
                <div class="discardscroll" id="discardscroll"></div>
            </div>
        </div>

        <script>
            window.onload = function () {
                imageClicked(999);
            };
        </script>
    </body>
</html>
