<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% assets 'css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <script src="./static/src/funcs.js"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>html text</h1>
        <h1>{{ text }}</h1>
        <div class="cardgridflex">
            <div class="cardgrid">
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/0.jpg"
                            onclick="imageClicked(0)"
                            alt="Defuse"
                        />

                        <div class="circle">0</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/1.jpg"
                            onclick="imageClicked(1)"
                            alt="Nope"
                        />

                        <div class="circle">1</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/2.jpg"
                            onclick="imageClicked(2)"
                            alt="Attack"
                        />

                        <div class="circle">2</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/3.jpg"
                            onclick="imageClicked(3)"
                            alt="Skip"
                        />

                        <div class="circle">3</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/4.jpg"
                            onclick="imageClicked(4)"
                            alt="Favor"
                        />

                        <div class="circle">4</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/5.jpg"
                            onclick="imageClicked(5)"
                            alt="Shuffle"
                        />

                        <div class="circle">5</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/6.jpg"
                            onclick="imageClicked(6)"
                            alt="See The Future"
                        />
                        <div class="circle">6</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/7.jpg"
                            onclick="imageClicked(7)"
                            alt="C1"
                        />
                        <div class="circle">7</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/8.jpg"
                            onclick="imageClicked(8)"
                            alt="C2"
                        />

                        <div class="circle">8</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/9.jpg"
                            onclick="imageClicked(9)"
                            alt="C3"
                        />

                        <div class="circle">9</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/10.jpg"
                            onclick="imageClicked(10)"
                            alt="C4"
                        />

                        <div class="circle">10</div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="cardstack-container">
                        <img
                            src="./static/imgs/11.jpg"
                            onclick="imageClicked(11)"
                            alt="C5"
                        />
                        <div class="circle">11</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
